.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(74, 74, 75);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo {
    display: flex;
    align-items: center;
    color: #ff9f03;
    margin: 0 25px;
}

.header-logoicon {
    margin-right: 10px;
}

.logo-title {
    text-decoration: none;
    border: 0;
    color:  #fff;
    text-align: center;
}

.search-select {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 300px;
    padding: 25px 20px;
    cursor: pointer;
    position: relative;
}

.select-arrow {
    width: 15px;
}

.search-select ul {
    position: absolute;
    top: 50%;
    left: 0;
    list-style: none;
    background: #fff;
    width: 100%;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 10px 15px;
}

.search-input {
    height: 18px;
    padding: 5px;
    border: none;
    border-radius: 24px;
    width: 100%;
}
.search-icon {
   padding: 8px; 
   height: 22px;
   color: #fff;
   cursor: pointer;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 15px;
    color: #fff;
}

.nav-item-first {
    font-size: 10px;
}

.nav-item-second {
    font-size: 14px;
    font-weight: 600;
}